[Unit]
Description=crossXwalk button
Requires=network.target
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={{crosswalk_home}}/code
Environment=XWALK_BUTTON_PIN={{crosswalk_button_pin}}
EnvironmentFile=-/etc/default/crosswalk
ExecStart=/usr/bin/python3 button.py
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
Alias=button.service
