[Unit]
Description=crossXwalk sign
Requires=network.target
After=network.target

[Service]
Type=simple
User=crosswalk
Group=crosswalk
WorkingDirectory={{crosswalk_home}}/code
Environment=FLASK_APP=run.py
EnvironmentFile=-/etc/default/crosswalk
ExecStart=/usr/local/bin/flask run --host=0.0.0.0
#ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=crosswalk.service
