<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <title>Crosswalk</title>
</head>
<body>

<script src="static/site.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->

<div class="container">
  <h1>Current Status</h1>
  {{ status }}
  <br>
  <button class="btn btn-danger" onclick="sendRequest('POST', '{{ url_for('set_state') }}', {mode: 'off'})">Off</button>
  <button class="btn" onclick="sendRequest('POST', '{{ url_for('push_button') }}', {})">Cross</button>

  <hr>
  <h1>Demos</h1>
  <div class="list-group">
    {% for demo in demos %}
    <button class="list-group-item list-group-item-action" onclick="sendRequest('POST', '{{ url_for('set_state') }}', {mode: 'demo', demo: {{ demo.demo_id }}})"{% if demo.demo_id in [1, 2] %} disabled="disabled"{% endif %}>{{ demo.description }}</button>
    {% endfor %}
  </div>

  <hr>
  <h1>Walks</h1>
  <div class="list-group">
    {% for image in walks %}
    <div class="row align-items-center">
        <div class="col">
            <figure class="figure">
                <img class="img-thumbnail img-fluid" title="{{ image.name }}" src="{{ url_for('static', filename=image.image_path.replace('/static', '')) }}">
                <figcaption class="figure-caption text-right">{{ image.name }}</figcaption>
            </figure>
        </div>
        <div class="col-1">
            <button class="btn" onclick="sendRequest('POST', '{{ url_for('set_state') }}', {mode: 'walk', walk: '{{ image.name }}'})">Play</button>
        </div>
    </div>
    {% endfor %}
  </div>

  <hr>
  <h1>Uploads</h1>
  <div class="list-group">
    {% for image in uploads %}
    <div class="row align-items-center">
        <div class="col">
            <figure class="figure">
                <a  href="{{ url_for('get_image', id=image)}}">
                    <img class="img-thumbnail img-fluid" title={{image.name}} src="{{ url_for('static', filename=image.image_path.replace('/static', '')) }}">
                </a>
                <figcaption class="figure-caption text-right">{{ image.name }}</figcaption>
            </figure>
        </div>
        <div class="col-1">
            <button class="btn" onclick="sendRequest('POST', '{{ url_for('set_state') }}', {mode: 'image', path: '{{ image.image_path }}'})">Play</button>
        </div>
        <div class="col-1">
            <button class="btn btn-danger" onclick="sendRequest('DELETE', '{{ url_for('delete_image', id=image) }}')">Delete</button>
        </div>
    </div>
    {% endfor %}
  </div>

  <hr>
  <h1>Upload</h1>
  <form enctype="multipart/form-data" method="post" action="{{ url_for('upload_image') }}">
    <div class="form-group">
      <input name="image" class="form-control-file" type="file">
    </div>
    <input type="submit" class="btn btn-primary" value="Upload">
  </form>
</div>

</body>
</html>
