<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crosswalk</title>
</head>
<body>

    <h1>Current Status</h1>
    {{ status }}
    <h4><a href="{{ url_for('kill_current') }}">Kill</a></h4>
    <h4><a href="{{ url_for('random_image') }}">Random</a></h4>

    <h1>Images</h1>

    <ul>
    {% for image in images %}
        <li> <a href="{{ url_for('display_image', filename=image)}}">
            <img title={{image}} src="{{ url_for('static', filename='img/'+image) }}">
        </a></li>
    {% endfor %}
    </ul>

    <h1>Demo</h1>
    <ul>
    {% for demo in demos %}
        <li><a href="{{ url_for('run_demo', n=loop.index0) }}">{{demo}}</a></li>
    {% endfor %}
    </ul>


</body>
</html>